{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Phase</title>
    <link rel="stylesheet" src="{% static 'build/css/style.css' %}" />
    <link
      rel="shortcut icon"
      href="build/logo/logo-color.png"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <header
      class="flex justify-between items-center md:border-b top-0 right-0 left-0 px-2 md:px-5 py-2 mb-10 bg-white"
    >
      <div class="flex items-center gap-10">
        <div class="logo-wrap flex items-center">
          <img class="w-7 md:w-10" src="{% static 'build/logo/logo-color.png' %}" alt="" />
          <span class="text-[#1e90ff] hidden md:block md:text-xl font-bold"
            >UmEmployed</span
          >
        </div>
        <a class="hidden md:block" href="{% url 'feature-not-implemented' %}">Home</a>
        <a class="hidden md:block" href="{% url 'feature-not-implemented' %}">Jobs</a>
        <a class="hidden md:block" href="./index.html">Resume</a>
      </div>
      <nav class="flex md:gap-x-4 items-center">
        <ul class="flex gap-x-8 items-center">
          <li>
            <a href="{% url 'feature-not-implemented' %}"
              ><img
                class="w-4 icon"
                src="{% static 'build/img/message-square-lines-svgrepo-com.svg' %}"
                alt="message icon"
            /></a>
          </li>
          <li>
            <a href="{% url 'feature-not-implemented' %}"
              ><img
                class="w-4"
                src="{% static 'build/img/notification-bell-svgrepo-com.svg' %}"
                alt="notification icon"
            /></a>
          </li>
          <li class="hidden md:block">
            <a href="{% url 'feature-not-implemented' %}"
              ><img
                class="w-4"
                src="{% static 'build/img/profile-svgrepo-com.svg' %}"
                alt="profile icon"
            /></a>
          </li>
          <li class="md:hidden">
            <button id="menu-btn" class="text-xl">
              <img class="w-4" src="{% static 'build/img/menu-svgrepo-com.svg' %}" alt="" />
            </button>
          </li>
        </ul>

        <div class="hidden md:block">
          |
          <span class="ml-4"><a href="{% url 'feature-not-implemented' %}">Employers / Post Job</a> </span>
        </div>
      </nav>
      <div
        id="sidebar"
        class="font-bold fixed bg-[#8080803e] md:bg-none z-10 hidden top-0 bottom-0 left-0 right-0 p-10"
      >
        <div
          class="sidebar-conten h-fit p-2 bg-white rounded-lg absolute bottom-2 right-2 left-2 mx-auto md:hidden"
        >
          <div class="btn-wrap text-end">
            <button id="remove-btn" class="text-2xl text-end ml-auto mr-2">
              &times
            </button>
          </div>
          <div class="nav-item font-bold p-2 border-b hover:bg-blue-50">
            <a class="flex justify-between items-center" href="{% url 'feature-not-implemented' %}">Home </a>
          </div>
          <div class="nav-item font-bold p-2 border-b hover:bg-blue-50">
            <a class="flex justify-between items-center" href="./profile.html"
              >Profile
            </a>
          </div>
          <div class="nav-item font-bold p-2 border-b hover:bg-blue-50">
            <a class="flex justify-between items-center" href="./index.html"
              >Resume
            </a>
          </div>
          <div class="nav-item font-bold p-2 border-b hover:bg-blue-50">
            <a class="flex justify-between items-center" href="{% url 'feature-not-implemented' %}">Jobs </a>
          </div>
          <div class="nav-item font-bold p-2 border-b hover:bg-blue-50">
            <a class="flex justify-between items-center" href="{% url 'feature-not-implemented' %}">Settings </a>
          </div>
        </div>
      </div>
    </header>
    <div class="bg-gray-100 w-f mx-auto shadow-lg rounded-lg p-5 sm:w-3/4">
        <div id="header" class="flex justify-between mb-5">
            <h1 class="text-xl font-semibold">Test Your Skill</h1>
            <div id="timer" class="text-xl">Timer: 2:00</div>
        </div>
        <div class="sm:flex w-f">
            <div class="w-f sm:mr-8">
                <h2 class="font-semibold mb-2">Skills</h2>
                <ul class="flex flex-nowrap overflow-scroll sm:flex-col gap-2 overflow-x-auto overflow-y-auto">
                    <li><button class="skill-btn py-2 px-4 bg-blue-500 text-white rounded mb-2 w-[100px]" data-skill="python">Python</button></li>
                    <li><button class="skill-btn py-2 px-4 bg-blue-500 text-white rounded mb-2 w-[100px]" data-skill="c">C</button></li>
                    <li><button class="skill-btn py-2 px-4 bg-blue-500 text-white rounded mb-2 w-[100px]" data-skill="ch">C#</button></li>
                    <li><button class="skill-btn py-2 px-4 bg-blue-500 text-white rounded mb-2 w-[100px]" data-skill="python">Python</button></li>
                    <li><button class="skill-btn py-2 px-4 bg-blue-500 text-white rounded mb-2 w-[100px]" data-skill="c">C</button></li>
                    <li><button class="skill-btn py-2 px-4 bg-blue-500 text-white rounded mb-2 w-[100px]" data-skill="python">Python</button></li>
                    <li><button class="skill-btn py-2 px-4 bg-blue-500 text-white rounded mb-2 w-[100px]" data-skill="c">C</button></li>
                    <li><button class="skill-btn py-2 px-4 bg-blue-500 text-white rounded mb-2 w-[100px]" data-skill="js">JavaScript</button></li>
                </ul>
            </div>
            <div class="w-f sm:w-3/4">
                <div id="question-section" class="p-5 border rounded bg-gray-50 ">
                    <h2 id="question-header" class="font-bold font-3xl mb-4 text-center">Question:</h2>
                    <form id="question-form" class="space-y-4">
                        <!-- Questions will be injected here -->
                    </form>
                </div>
                <div id="timer" class="mt-4 text-right text-lg font-bold"></div>
                <button id="next-btn" class="mt-4 py-2 px-4 bg-green-500 text-white rounded hidden">Next</button>
                <button id="submit-btn" class="mt-4 py-2 px-4 bg-red-500 text-white rounded hidden">Submit</button>
            </div>
        </div>
        
    </div>
    <script src="{% static '/testing/assets/JS/testing.js' %}"></script>
    
</body>
</html>
