{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<style>
  .container {
    background-color: #f3f4f5;
  }
  .timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .timer {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    margin-right: 10px;
  }

  .clock-icon {
    font-size: 70px;
    color: #ff0000;
    vertical-align: middle;
  }
</style>

<div class="container mx-auto my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4">
        <h1 class="text-center mb-4">{{ job.title }} Quiz - Round 2</h1>
        <div class="timer-container">
          <div class="timer" id="timer"></div>
          <span class="clock-icon">&#x23F0;</span>
        </div>
        <form id="quizForm" method="post">
          {% csrf_token %}
          {% for mcq in mcqs %}
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ mcq.question }}</h5>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="question{{ mcq.id }}"
                  value="A" 
                  id="question{{ mcq.id }}_A"
                />
                <label
                  class="form-check-label"
                  for="question{{ mcq.id }}_A"
                >
                  {{ mcq.option_a }}
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="question{{ mcq.id }}"
                  value="B" 
                  id="question{{ mcq.id }}_B"
                />
                <label
                  class="form-check-label"
                  for="question{{ mcq.id }}_B"
                >
                  {{ mcq.option_b }}
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="question{{ mcq.id }}"
                  value="C" 
                  id="question{{ mcq.id }}_C"
                />
                <label
                  class="form-check-label"
                  for="question{{ mcq.id }}_C"
                >
                  {{ mcq.option_c }}
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="question{{ mcq.id }}"
                  value="D" 
                  id="question{{ mcq.id }}_D"
                />
                <label
                  class="form-check-label"
                  for="question{{ mcq.id }}_D"
                >
                  {{ mcq.option_d }}
                </label>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% block footer %}
    
    
    {% endblock footer %}
    <footer class="text-gray-800 text-center p-3 mt-[5%]">
      <div class="flex flex-col sm:flex-row justify-center gap-2 items-center">
        <p class="text-sm">© 2024 UmEmployed. All rights reserved.</p>
        <div class="flex space-x-4 items-center">
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-twitter text-black"></i>
          </a>
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-linkedin text-black"></i>
          </a>
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-facebook text-black"></i>
          </a>
         <img src="{% static 'new_design/logo/privacy.jpeg' %}" alt="" class="w-10 h-5">
        </div>
        <div class="text-sm">
          <a href="{% url 'feature-not-implemented' %}" class="hover:text-gray-300"
            >Privacy Policy</a
          >
          |
          <a href="{% url 'feature-not-implemented' %}" class="hover:text-gray-300">Contact Us</a>
        </div>
      </div>
    </footer>


<script>
  // Set the countdown time in seconds
  const countdownTime = 120; // 2 minutes

  // Function to start the countdown
  function startTimer(duration, display) {
    let timer = duration,
      minutes,
      seconds;
    let countdown = setInterval(function () {
      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      display.textContent = minutes + ":" + seconds;

      if (--timer < 0) {
        clearInterval(countdown);
        document.getElementById("quizForm").submit();
      }
    }, 1000);
  }

  // Start the timer when the page loads
  window.onload = function () {
    const display = document.getElementById("timer");
    startTimer(countdownTime, display);
  };
</script>

{% endblock %}
  