amqp==5.2.0
annotated-types==0.6.0
anyio==4.2.0
asgiref==3.7.2
async-timeout==4.0.3
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.3.6
certifi==2023.7.22
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
crispy-bootstrap5==2023.10
cryptography==41.0.5
defusedxml==0.7.1
distro==1.9.0
Django==4.2.7
django-allauth==0.58.1
django-appconf==1.0.6
django-autocomplete-light==3.9.7
django-compressor==4.4
django-crispy-forms==2.1
django-easy-audit==1.3.5
django-filter==23.5
django-haystack==3.2.1
django-sass-processor==1.4
django-widget-tweaks==1.5.0
elastic-transport==8.12.0
elasticsearch==2.4.1
exceptiongroup==1.2.0
geographiclib==2.0
geopy==2.4.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==2.10
kombu==5.3.5
oauthlib==3.2.2
openai==1.11.1
Pillow==10.1.0
prompt-toolkit==3.0.43
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydoodle==1.1.3
PyJWT==2.8.0
pypdf==4.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
python3-openid==3.2.0
rcssmin==1.1.1
redis==5.0.2
requests==2.25.1
requests-oauthlib==1.3.1
rjsmin==1.2.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2024.1
urllib3==1.26.18
vine==5.1.0
wcwidth==0.2.13
