{% load static %}

<div class="pagination">
    <span class="step-links">
        {% if skills.has_previous %}
            <a href="{% url 'feature-not-implemented' %}" data-page="1">&laquo; first</a>
            <a href="{% url 'feature-not-implemented' %}" data-page="{{ skills.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ skills.number }} of {{ skills.paginator.num_pages }}.
        </span>

        {% if skills.has_next %}
            <a href="{% url 'feature-not-implemented' %}" data-page="{{ skills.next_page_number }}">next</a>
            <a href="{% url 'feature-not-implemented' %}" data-page="{{ skills.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
