{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-5">
  <div class="card mx-auto" style="width: 40rem">
    <div class="card-body">
      <h5 class="card-title mb-3">Step 3: Work Experience and Education</h5>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="d-flex justify-content-between">
          <button class="btn btn-secondary" onclick="event.preventDefault(); window.location.href='{% url 'onboarding-2' %}'">
            Back
          </button>

          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}