  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Profile | {{user.username}}</title>
      <link rel="icon" href="./build/logo/logo-color.png" />
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="{% static 'build/css/general.css' %}" />
      <link rel="stylesheet" href="{% static 'build/css/employer.css' %}" />
      <link rel="stylesheet" href="{% static 'build/css/profile.css' %}" />
    </head>
  <body
    class="md:ml-[0px] md:mt-20 relative flex flex-col "
  >
    <header
      class="flex justify-between items-center md:border-b md:fixed z-10 top-0 right-0 left-0 px-2 md:px-5 py-2 mb-10 bg-white"
    >
      <div class="flex items-center gap-x-5">
        <div class="logo-wrap flex items-center">
          <img class="w-8 md:w-9" src="{% static 'build/logo/logo-color.png' %}" alt="" />
          <span class="text-[#1e90ff] hidden md:block md:text-xl font-bold"
            >UmEmployed</span
          > 
        </div>
        <a
          class="hidden md:block hover:bg-blue-50 transition-colors p-2 rounded"
          href="{% url 'home' %}"
          >Home</a
        >
      </div>
      <nav class="flex md:gap-x-4 items-center">
        <ul class="flex gap-x-2 md:gap-x-6 items-center">
          <li>
            <a
              class="flex gap-1 hover:bg-blue-50 transition-colors p-2 rounded"
              href="#"
              ><img
                class="w-5"
                src="{% static 'build/img/message-square-lines-svgrepo-com.svg' %}"
                alt="message icon"
              />
              <span class="hidden md:block">Messages</span>
            </a>
          </li>
          <li>
            <a
              class="flex gap-1 hover:bg-blue-50 transition-colors p-2 rounded"
              href="#"
              ><img
                class="w-5"
                src="{% static 'build/img/notification-bell-svgrepo-com.svg' %}"
                alt="notification icon"
              />
              <span class="hidden md:block">Notifications</span>
            </a>
          </li>
           <li>
            <a
              class="flex gap-1 hover:bg-blue-50 transition-colors p-2 rounded"
              href="{% url 'dashboard' %}"
              ><img
                class="w-5"
                src="{% static 'build/img/profile-svgrepo-com.svg' %}"
                alt="user icon"
              />
              <span class="hidden md:block">Dashboard</span>
            </a>
          </li>
        </ul>

        <div class="hidden md:block border-l h-[40px]"></div>

        <div class="relative">
          <div class="hover:bg-blue-50 transition-colors p-2 rounded">
            <button id="option-btn" class="flex items-center gap-2">
              <img
                class="w-[19px]"
                src="{% static 'build/img/profile-svgrepo-com.svg' %}"
                alt="user icon"
              />
              <span class="w-28 text-ellipsis overflow-hidden hidden md:block"
                >{{ user.username }}</span
              >
              <img
                class="w-[19px] mt-1 md:mt-0 hidden md:block"
                src="{% static 'build/img/dropdown-arrow-svgrepo-com.svg' %}"
                alt="drop down arrow"
              />
            </button>
            <div
              id="backdrop-menu"
              class="hidden fixed flex justify-end p-[18px] top-0 bottom-0 left-0 right-0 bg-transparent"
            >
              <div
                id="option-menu"
                class="absolute bg-white top-[60px] z-[100] min-w-[290px] sm:w-[350px] border border-gray-400 rounded"
              >
                <div
                  class="py-3 px-6 rounded-t text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/user.svg' %}"
                      alt="user-icon"
                    />
                    User
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-6"
                      src="{% static 'build/img/subscriptions-svgrepo-com.svg' %}"
                      alt="Subscriptions-icon"
                    />
                    Subscriptions
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/billing-svgrepo-com.svg' %}"
                      alt="Billing-icon"
                    />
                    Billing and invoices
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-al"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/setting-1-svgrepo-com.svg' %}"
                      alt="setting-icon"
                    />
                    Employer setting
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/contact-details-filled-svgrepo-com.svg' %}"
                      alt="msg-icon"
                    />
                    Contact us
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-al"
                >
                  <a href="./company.html" class="flex items-center gap-1">
                    <img
                      class="w-6"
                      src="{% static 'build/img/company-svgrepo-com.svg' %}"
                      alt="company-icon"
                    />
                    Company page
                  </a>
                </div>

                <hr class="my-2" />
                <div class="user-mail py-3 px-6 font-bold text-gray-700">
                  {{ user.email }}
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-al"
                >
                  <a href="{% url 'update-resume' %}" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/setting-1-svgrepo-com.svg' %}"
                      alt="setting-icon"
                    />
                    Account Settings
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-al"
                >
                  <a href="{% url 'change_account_type' %}" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/user.svg' %}"
                      alt="user-icon"
                    />
                    Switch account Type
                  </a>
                </div>
                <hr class="my-2" />
                <div class="flex py-4 px-8 text-gray-700 justify-center">
                  <a href="{% url 'logout' %}" class="signout-btn text-[#1e90ff] font-bold">
                    Sign out
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id="aside-menu-btn" class="md:hidden">
          <img class="w-6" src="{% static 'build/img/menu-svgrepo-com.svg' %}" alt="" />
        </button>
      </nav>
      <div
        id="sidebar"
        class="font-bold fixed bg-[#8080803e] z-auto md:bg-none hidden top-0 bottom-0 left-0 right-0 p-10"
      >
        <div
          class="sidebar-content h-fit p-2 bg-white rounded-lg absolute bottom-2 right-2 left-2 mx-auto md:hidden"
        >
          <div class="btn-wrap text-end">
            <button id="remove-btn" class="text-2xl text-end ml-auto mr-2">
              &times;
            </button>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#">Message</a>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#"
              >Notifications</a
            >
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#"
              >Employer settings</a
            >
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#">Contact us</a>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#"
              >Account Settings</a
            >
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#">Sign Out</a>
          </div>
        </div>
      </div>
    </header>

    {% block content %}


    {% endblock %}

<footer class="text-center mb-10 px-2">
      &copy;2024 <span class="text-[#1e90ff] font-bold">UmEmployed</span> -
      <span class="underline"><a href="#">Cookies</a>, <a href="#">Privacy</a>, and <a href="#">Terms</a></span>
    </footer>
    <script type="module" src="{% static 'scripts/resume.js' %}"></script>
    <script type="module" src="{% static 'scripts/Profile.js' %}"></script>

  </body>
</html>
