{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile | {{user.username}}</title>
    <link rel="icon" href="{% static 'build/logo/logo-color.png' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'build/css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'build/css/general.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  </head>
  <body class="text-sm relative bf-white md:bg-gray-50">
    <header
      class="flex justify-between sticky items-center md:border-b top-0 right-0 left-0 px-2 md:px-5 py-2 mb-5 bg-white"
    >
      <div class="flex items-center gap-x-3 md:gap-1">
        <div class="logo-wrap flex items-center">
          <img class="w-7 md:w-9" src="{% static 'build/logo/logo-color.png' %}" alt="" />
          <span class="text-[#1e90ff] hidden md:block md:text-xl font-bold"
            >UmEmployed</span
          >
        </div>
        <a
          class="hidden md:block hover:bg-blue-50 transition-colors p-2 rounded"
          href="{% url 'home' %}"
          >Home</a
        >
        
      </div>
      <nav class="flex md:gap-x-4 items-center">
        <ul class="flex gap-x-2 md:gap-x-3 items-center">
          <li>
            <a
              class="flex gap-1 hover:bg-blue-50 transition-colors p-2 rounded"
              href="#"
              ><img
                class="w-5"
                src="{% static 'build/img/message-square-lines-svgrepo-com.svg' %}"
                alt="message icon"
              />
              <span class="hidden md:block">Messages</span>
            </a>
          </li>
          <li>
            <a
              class="flex gap-1 hover:bg-blue-50 transition-colors p-2 rounded flex items-center"
              href="#"
              ><img
                class="w-[18px]"
                src="{% static 'build/img/notification-bell-svgrepo-com.svg' %}"
                alt="notification icon"
              />
              <span class="hidden md:block">Notifications</span>
            </a>
          </li>
          <li class="relative cursor-pointer">
            <button
              id="option-btn"
              class="flex gap-1 hover:bg-blue-50 transition-colors p-2 rounded"
              href="#"
            >
              <img
                class="w-5"
                src="{% static 'build/img/profile-svgrepo-com.svg' %}"
                alt="profile icon"
              />
              <span class="hidden md:block">User</span>
            </button>
            <div
              id="backdrop-menu"
              class="hidden fixed flex justify-end pr-[19px] sm:pr-[100px] z-[100] top-0 bottom-0 left-0 right-0 bg-transparent"
            >
              <div
                class="absolute bg-white top-[60px] z-[100] min-w-[280px] sm:w-[350px] border border-gray-400 rounded"
              >
                <div class="user-mail py-3 px-6 font-bold text-gray-700">
                  {{user.username}}
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="{% url 'dashboard' %}" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/user.svg' %}"
                      alt="user-icon"
                    />
                    Profile
                  </a>
                </div>
                <div
                class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
              >
                <a href="#" class="flex items-center gap-1">
                  <img
                    class="w-5"
                    src="{% static 'build/img/resume.svg' %}"
                    alt="user-icon"
                  />
                  Resume
                </a>
              </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/help-svgrepo-com.svg' %}"
                      alt="help-icon"
                    />
                    Resume help
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/suitcase-svgrepo-com.svg' %}"
                      alt="job-icon"
                    />
                    My jobs
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/page-svgrepo-com.svg' %}"
                      alt="page-icon"
                    />
                    My reviews
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/setting-1-svgrepo-com.svg' %}"
                      alt="setting-icon"
                    />
                    Settings
                  </a>
                </div>
                <hr class="my-2" />
                <div class="flex py-4 px-6 text-gray-700 justify-center">
                  <button class="signout-btn text-[#1e90ff] font-bold">
                    Sign out
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li class="md:hidden">
            <button id="menu-btn" class="text-xl">
              <img class="w-5" src="{% static 'build/img/menu-svgrepo-com.svg' %}" alt="" />
            </button>
          </li>
        </ul>
        <div class="hidden md:block">
          <div class="flex">
            <div class="border-l h-[40px] ="></div>
            <span
              class="ml-2 text-nowrap hover:bg-blue-50 transition-colors p-2 rounded"
              ><a class="text-nowrap" href="{% url 'company-details' company.id %}"
                >Employers / Post Job</a
              >
            </span>
          </div>
        </div>
      </nav>
       <div
        id="sidebar"
        class="font-bold fixed bg-[#8080803e] md:bg-none z-10 hidden top-0 bottom-0 left-0 right-0 p-10"
      >
        <div
          class="sidebar-conten h-fit p-2 bg-white rounded-lg absolute bottom-2 right-2 left-2 mx-auto md:hidden"
        >
          <div class="btn-wrap text-end">
            <button id="remove-btn" class="text-2xl text-end ml-auto mr-2">
              &times
            </button>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="{% url 'home' %}">Home </a>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="{% url 'dashboard' %}"
              >Profile
            </a>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="./resume.html"
              >Resume
            </a>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#">Jobs </a>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#">Settings </a>
          </div>
           <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class=" swal-logout flex justify-between items-center" href="{% url 'logout' %}">Logout </a>
          </div>
        </div>
      </div>
    </header>

    <div class="primary">
      
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
      </div>

    {% block content %}


    {% endblock %}

<footer class="text-center mb-10 px-2">
      &copy;2024 <span class="text-[#1e90ff] font-bold">UmEmployed</span> -
      <span class="underline"><a href="#">Cookies</a>, <a href="#">Privacy</a>, and <a href="#">Terms</a></span>
    </footer>
    <script type="module" src="{% static 'scripts/resume.js' %}"></script>
    <script type="module" src="{% static 'scripts/Profile.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script>
    const csrfToken = '{{ csrf_token }}'
  </script>
  <script type="text/javascript">
    const suggestedSkills = JSON.parse('{{ suggested_skills_json|escapejs }}')
    const skills = JSON.parse('{{ skills_json|escapejs }}'); 
  </script>
  <script type="module" src="{% static 'scripts/Profile.js' %}"></script>
  <script type="module" src="{% static 'data/user.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



  </body>
</html>
