{% extends "resume/base.html" %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}

<main class="mx-auto w-[90%] max-w-[650px] mb-2">
    <section class="">
        <div class="border bg-white rounded">
            <div class="flex justify-between p-4 mb-4 border-b ">
                <p class="font-bold  text-2xl text-[#1e90ff]">Edit Information</p>
            </div>
            <form class="p-4" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-wrap mb-1">
                    <label for="{{ form.name.id_for_label }}" class="text-gray-500">Name</label>
                    {{ form.name|add_class:"border w-full mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" }}
                </div>
                <div class="input-wrap mb-2">
                    <label for="{{ form.email.id_for_label }}" class="text-gray-500">Email</label>
                    {{ form.email|add_class:"border w-full mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" }}
                </div>
                <div class="input-wrap mb-2">
                    <label for="{{ form.phone.id_for_label }}" class="text-gray-500">Phone</label>
                    {{ form.phone|add_class:"border w-full mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" }}
                </div>
                <div class="input-wrap mb-2">
                    <label for="{{ form.country.id_for_label }}" class="text-gray-500">Country</label>
                    {{ form.country|add_class:"border w-full mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" }}
                </div>
                <div class="input-wrap mb-2">
                    <label for="{{ form.job_title.id_for_label }}" class="text-gray-500">Job Title</label>
                    {{ form.job_title|add_class:"border w-full mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" }}
                </div>
                <div class="p-4 flex justify-between border-t">
                    <div></div>
                    <button type="submit" id="save-info-btn" class="border bg-[#1e90ff] rounded-full text-white font-bold px-3 py-1">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock content %}
