{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<head>
  <style>
    @keyframes slide-in {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes fade-out {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    .slide-in {
      animation: slide-in 1s forwards;
    }

    .fade-out {
      animation: fade-out 1s forwards;
    }
  </style>
</head>
<body>
  <!-- Include message tags in your template -->
  {% if messages %}
    <div class="fixed top-5 left-0 w-full flex flex-col items-center z-50 messages">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} px-4 py-3 rounded-lg bg-blue-500 text-white slide-in mb-2" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <!-- Your motivational text content here -->
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Step 3: Choose Skills</h5>
            <form method="post">
              {% csrf_token %}
              <div class="form-group">{{ form.level|as_crispy_field }}</div>
              <div class="form-group">
                <label for="skills">Skills:</label>

                {{ form.requirements|as_crispy_field }}
              </div>
              <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'job:create-job' %}" class="btn btn-secondary">Back</a>
                <button type="submit" class="btn btn-primary">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(alert => {
        setTimeout(() => {
          alert.classList.add('fade-out');
          alert.addEventListener('animationend', () => {
            alert.remove();
          });
        }, 10000);
      });
    });
  </script>
</body>
{% endblock content %}
