<main class="mx-auto w-[90%] max-w-[650px] mb-2">
      <section class="">
        <div
          class="border bg-white rounded"
        >
          <div
            class="flex justify-between items-center border-b  p-4 mb-4"
          >
            <p class="font-bold text-[#1e90ff]">Edit Info</p>
          </div>
          <form class="p-4" action="post">
            <div class="input-wrap mb-1">
                <label for="firstName" class="text-gray-500">First name</label>
                <input id="firstName" name="firstName" class="border  w-full  mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" type="text" value="Enu">
            </div>
            <div class="input-wrap mb-2">
                <label for="lastName" class="text-gray-500">Last name</label>
                <input id="lastName" name="lastName" class="border  w-full  mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" type="text" value="Clinton Enu">
            </div>
            <div class="input-wrap mb-2">
                <label for="email" class="text-gray-500">Last name</label>
                <input id="email" name="email" class="border  w-full  mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" type="email" value="enu@gmail.com">
            </div>
            <div class="input-wrap mb-2">
                <label for="country" class="text-gray-500">Country</label>
                <input id="country" name="country" class="border  w-full  mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" type="text" value="Cameroon">
            </div>
            <div class="input-wrap mb-2">
                <label for="phone" class="text-gray-500">Phone</label>
                <input id="phone" name="phone" class="border  w-full  mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" type="tel" value="+237653300022">
            </div>
            <div class="input-wrap mb-2">
                <label for="job-title" class="text-gray-500">Job title</label>
                <input id="job-title" name="job-title" class="border  w-full  mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" type="text" value="Frontend Developer">
            </div>
          </form>
          <div class="p-4 flex justify-between border-t ">
            <div></div>
            <button
            id="save-info-btn"
              class="border bg-[#1e90ff] rounded-full text-white font-bold px-3 py-1"
            >
              Save
            </button>
          </div>
        </div>
      </section>
    </main>
