{% extends 'resume/base.html' %}
{% load static %}
{% block custom_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}
{% block content %}
  <main class="flex-grow px-2 md:px-3 w-[98%] lg:w-[100%] mx-auto container">
    <form id="addJob" class="w-full md:w-[65%] mx-auto" method="post">
      {% csrf_token %}
      <h1 class="text-3xl font-bold text-gray-800 my-5">Add a job</h1>
      <div class="input-wrap mb-8">
        <label for="job-title" class="text-[17px] font-[500] text-gray-800">Job title</label><br />
        <input class="border border-gray-400 p-[11px] w-full bg-transparent rounded-lg outline-1 outline-[#1e90ff]" type="text" placeholder="ex(Asiistant Manager)" name="title" id="job-title" required />
      </div>
      <div class="input-wrap mb-8">
        <label for="hire-number" class="text-[17px] font-[500] text-gray-800">Number of persons to hire for this job</label><br />
        <select class="border border-gray-400 p-[11px] w-full bg-transparent rounded-lg outline-1 outline-[#1e90ff]" name="hire_number" id="hire-number" required>
          <option value="" selected>Choose an option</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="more">More</option>
        </select>
      </div>
      <div class="input-wrap mb-8">
        <label for="salary_range" class="text-[17px] font-[500] text-gray-800">Salary Range</label><br />
        <select class="border border-gray-400 p-[11px] w-full bg-transparent rounded-lg outline-1 outline-[#1e90ff]" name="salary_range" id="salary_range" required>
          <option value="30000-50000">$30,000 - $50,000</option>
          <option value="50001-70000">$50,001 - $70,000</option>
          <option value="70001-100000">$70,001 - $100,000</option>
          <option value="100001-150000">$100,001 - $150,000</option>
          <option value="150001+">$150,001 and above</option>
        </select>
      </div>

      <div class="input-wrap mb-8">
        <label for="job-location" class="text-[17px] font-[500] text-gray-800">Job Location</label><br />
        <div class="border border-gray-400 p-[11px] w-full bg-transparent rounded-lg outline-1 outline-[#1e90ff]" name="location" id="job-location" required>{{ form.location }}</div>
      </div>

      <!-- Job Location Type -->
      <div class="input-wrap mb-8">
        <label for="job-location-type" class="text-[17px] font-[500] text-gray-800">Job Location Type</label><br />
        <select class="border border-gray-400 p-[11px] w-full bg-transparent rounded-lg outline-1 outline-[#1e90ff]" name="job_location_type" id="job-location-type" required>
          <option value="" selected>Choose an option</option>
          <option value="remote">Remote</option>
          <option value="onsite">Onsite</option>
          <option value="hybrid">Hybrid</option>
          <option value="internship">Internship</option>
        </select>
      </div>

      <!-- Job Type -->
      <div class="input-wrap mb-8">
        <label for="job-type" class="text-[17px] font-[500] text-gray-800">Job Type</label><br />
        <select class="border border-gray-400 p-[11px] w-full bg-transparent rounded-lg outline-1 outline-[#1e90ff]" name="job_type" id="job-type" required>
          <option value="" selected>Choose an option</option>
          <option value="Full_time">Full-Time</option>
          <option value="Part_time">Part-Time</option>
          <option value="Contract">Contract</option>
          <option value="Temporary">Temporary</option>
          <option value="Internship">Internship</option>
          <option value="Freelance">Freelance</option>
        </select>
      </div>

      <div class="input-wrap mb-8">
        <label for="id_category">Category:</label>
        <select name="category" id="id_category">
          {% for category in form.category.field.queryset %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- Other fields and submit button -->
      <div class="btn-wrap text-end mt-0 mb-5">
        <button type="submit" class="px-5 py-2 text-white font-bold bg-[#1e90ff] rounded-lg">Next <span class="text-[20px]">&RightArrow;</span></button>
      </div>
    </form>
  </main>
  {% block footer %}
  {% endblock footer %}
  <footer class="text-gray-800 text-center p-3">
    <div class="flex flex-col sm:flex-row justify-center gap-2 items-center">
      <p class="text-sm">© 2024 UmEmployed. All rights reserved.</p>
      <div class="flex space-x-4 items-center">
        <a
          href="{% url 'feature-not-implemented' %}"
          class="text-white hover:text-gray-300"
        >
          <i class="fab fa-twitter text-black"></i>
        </a>
        <a
          href="{% url 'feature-not-implemented' %}"
          class="text-white hover:text-gray-300"
        >
          <i class="fab fa-linkedin text-black"></i>
        </a>
        <a
          href="{% url 'feature-not-implemented' %}"
          class="text-white hover:text-gray-300"
        >
          <i class="fab fa-facebook text-black"></i>
        </a>
        <img src="{% static 'new_design/logo/privacy.jpeg' %}" alt="" class="w-10 h-5">
      </div>
      <div class="text-sm ">

        <a href="{% url 'feature-not-implemented' %}" class="hover:text-gray-300"
          >Privacy Policy
          </a
        >

        <a href="{% url 'feature-not-implemented' %}" class="hover:text-gray-300">Contact Us</a>
      </div>
    </div>
  </footer>

  <script type="module" src="{% static 'scripts/addjob.js' %}"></script>
  <script type="module" src="{% static 'scripts/dashboard.js' %}"></script>
{% endblock %}
