
 {% extends 'resume/recruiterBase.html' %}
{% load static %}
 {% block custom_css %}
        <link rel="stylesheet" href="{% static 'build/css/skills.css' %}">

  {% endblock %}
{% block content %}
   <!-- selectSkills.html -->
<main class="flex-grow w-full px-2 md:px-3 lg:w-[100%] mx-auto">
    <form id="select-skills-form" class="p-8 w-full max-w-4xl text-center mx-auto" method="POST">
        {% csrf_token %}
        <h1 class="text-2xl font-bold mb-4">Select Skills</h1>

        <!-- Render extracted_skills checkboxes -->
        <ul id="skills-list" class="skills-list flex flex-wrap gap-2 justify-center">
            {% for skill in extracted_skills %}
                <li>
                    <input type="checkbox" id="skill-{{ skill.id }}" name="extracted_skills" value="{{ skill.id }}">
                    <label class="border border-gray-300" for="skill-{{ skill.id }}">{{ skill.name }}</label>
                </li>
            {% endfor %}
        </ul>

        <!-- Render level field -->
        <label for="id_level">Level:</label>
        <select id="id_level" name="level">
            <option value="Beginner">Beginner</option>
            <option value="Mid">Mid</option>
            <option value="Expert">Expert</option>
        </select>

        <button type="submit" id="submit-button" class="mt-6 px-4 py-2 bg-[#1e90ff] text-white rounded-lg hover:bg-blue-500 font-bold">Submit</button>
    </form>
</main>


   
    <script src="{% static 'build/scripts/skills.js' %}"></script>
  </body>
  <script type="module" src="{% static 'build/scripts/dashboard.js' %}"></script>
{% endblock %}