{% extends 'users/base.html' %} {% block title %}Password Reset{% endblock %} {%
block content %}
<div class="">
  <h4 class="p-5">
    We've emailed you with instructions for setting your password, if an account
    exists with the email you entered, You should receive them shortly
  </h4>
  <br /><br /><br /><br />
  <p class="p-5">
    If you don't receive the email, please make sure you've entered the address
    you registered with, and check your spam folder
  </p>

  <div class="mt-5">`</div>
  <center>
    <div class="mt-5">
      <b>For advanced help, contact</b>
      <b style="color: #ff9900"
        ><a href="mailto:umenployed@gmail.com">@support.umemployed.com</a></b
      >
    </div>
  </center>
</div>
{% endblock %}
