{% extends 'resume/base.html' %}
{% block custom_css %}
  {% load static %}
{% endblock %}
{% block content %}

    <main class="flex-grow flex items-center justify-center  lg:pt-14 pb-14">
        <div class="w-full max-w-xl  bg-white rounded-lg border pb-16 pt-10">
            <div class=" flex justify-center p-2">
                <div class="w-fit p-2 bg-white rounded-full">    <i class="fas fa-envelope fa-2x text-gray-700"></i>
                </div>
            </div>
           <div class="px-8">
            <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Email Sent</h2>
            <p class="text-gray-700 mb-4 text-center">A verification link has been sent to your email address. Please check your email and follow the instructions to reset your password.</p>
            <div class="flex justify-center">
                <button onclick="window.location.href='mailto:'" class="py-2 px-4  rounded-full w-full shadow-sm text-sm font-semibold text-[#1e90ff] border border-[#1e90ff] focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Go to Email</button>
            </div>
           </div>
        </div>
    </main>

    {% block footer %}


    {% endblock footer %}
    <footer class="text-gray-800 text-center p-3">
      <div class="flex flex-col sm:flex-row justify-center gap-2 items-center">
        <p class="text-sm">© 2024 UmEmployed. All rights reserved.</p>
        <div class="flex space-x-4 items-center">
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-twitter text-black"></i>
          </a>
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-linkedin text-black"></i>
          </a>
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-facebook text-black"></i>
          </a>
          <img src="{% static 'new_design/logo/privacy.jpeg' %}" alt="" class="w-10 h-5">
        </div>
        <div class="text-sm ">

          <a href="{% url 'feature-not-implemented' %}" class="hover:text-gray-300"
            >Privacy Policy
            </a
          >

          <a href="{% url 'feature-not-implemented' %}" class="hover:text-gray-300">Contact Us</a>
        </div>
      </div>
    </footer>
{% endblock %}
