{% extends 'users/base.html' %} {% block title %}Password Reset{% endblock %} {%
block content %}

<center class="container border-1">
  <div class="container mt-5 center">
    <h1><b>Forgot your password?</b></h1>
    <p class="mt-6">Enter your email below and we will get that sorted!</p>
  </div>
  <div>
    <label class="mb-6">Reset Password</label>

    <form method="post">
      {% csrf_token %}

      <div class="mb-4">{{ form }}</div>

      {% if form.errors or form.non_field_errors %}
      <div>
        {% for field in form %} {{ field.errors }} {% endfor %} {{
        form.non_field_errors }}
      </div>
      {% endif %}

      <button type="submit">Submit</button>
    </form>

    <div class="mt-5">`</div>
    <div class="mt-5">
      Don't have an account?
      <b style="color: #ff9900"
        ><a href="{% url 'register-applicant' %}">Sign up</a></b
      >
    </div>
  </div>
</center>
{% endblock %}
