{% extends 'resume/base.html' %}
{% block custom_css %}

<style>
  input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  appearance: none;
  width: 100%;
  padding: 8px;
  border-radius: 30px;
  border: 1px solid #d1d5db; /* light gray border */
  background-color: #f9fafb; /* light background color */
  color: #374151; /* dark text color */
  font-size: 16px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #1e90ff; /* blue border on focus */
  box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.2); /* light blue shadow on focus */
  outline: none;
}

</style>
{% load static %}
{% endblock %}
{% block content %}
  <br>
    <main class="flex-grow flex items-center justify-center lg:pt-14 pb-14">
      <div class="w-full max-w-xl  bg-white rounded-lg border pb-16 pt-10">
        <div class=" p-2 flex justify-center">
          <div class="w-fit p-2 bg-white rounded-full">    <i class="fas fa-envelope fa-2x text-gray-700"></i>
          </div>
        </div>
        <div class="px-8">
          <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Enter your Email Address</h2>
          <form id="emailForm" method="post">
            {% csrf_token %}
            <div class="mb-4">
              <div id="email" class="w-full">
                {{ form.as_p }}
              </div>
            </div>
            {% if form.errors or form.non_field_errors %}
              <div>
                {% for field in form %}
                  {{ field.errors }}
                {% endfor %} {{ form.non_field_errors }}
              </div>
            {% endif %}
            <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-full shadow-sm text-sm font-semibold text-white bg-[#1e90ff]  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Verify Email</button>
          </form>
        </div>

      </div>
    </main>

    {% block footer %}


    {% endblock footer %}
    <footer class="text-gray-800 text-center p-3">
      <div class="flex flex-col sm:flex-row justify-center gap-2 items-center">
        <p class="text-sm">© 2024 UmEmployed. All rights reserved.</p>
        <div class="flex space-x-4 items-center">
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-twitter text-black"></i>
          </a>
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-linkedin text-black"></i>
          </a>
          <a
            href="{% url 'feature-not-implemented' %}"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-facebook text-black"></i>
          </a>
          <img src="{% static 'new_design/logo/privacy.jpeg' %}" alt="" class="w-10 h-5">
        </div>
        <div class="text-sm ">

          <a href="{% url 'feature-not-implemented' %}" class="hover:text-gray-300"
            >Privacy Policy
            </a
          >

          <a href="{% url 'feature-not-implemented' %}" class="hover:text-gray-300">Contact Us</a>
        </div>
      </div>
    </footer>
{% endblock %}
