<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user}}</title>
    {% include 'tailwind.html' %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script>
        window.onload = function() {
           window.scrollTo(0, document.body.scrollHeight - 30);
       }
    </script>
  </head>
  <body class="bg-slate-100 flex flex-col relative">
    <div class="w-full flex items-center bg-slate-300 sticky top-0 p-2" id = "nav">
      <a href="{% url 'chats'  %}" class="text-2xl text-primary w-fit m-5">
        <i class="fa-solid fa-circle-arrow-left"></i>
      </a>
      <a href="{% url 'profile' user.id %}">
        <img src="{{user.image.url}}" alt="" class="w-14 h-14 rounded-full" />
      </a>
      <h1 class="text-2xl font-semibold">{{user.username|capfirst}}</h1>
    </div>
    <div
      class="w-full md:w-2/3 p-4 flex flex-col self-center space-y-3 pb-40 border border-primary min-h-[100vh] overflow-scroll"
      id="message-block"
    >
      {% for message in messages %}
      {% if message.sender != request.user %}

     <div class="w-full">
      <div
        class="max-w-[90%] w-fit border break-words whitespace-normal p-1 bg-yellow-400 rounded-r-3xl rounded-tl-3xl shadow-md"
        id="{{message.id}}"
      >
      {% if message.replyTo %}
        <div
        onclick="view('{{message.replyTo.id}}')"
        >
          <div
            class="px-3 py-1 bg-yellow-200 rounded-t-2xl rounded-b-lg w-full"
          >
            <legend class="font-medium text-primary">
                {% if message.replyTo.sender == request.user %}
                You
                {% else %}
                {{message.replyTo.sender.username|capfirst}}
                {% endif %}
            </legend>
            <p class="px-2 text-truncate overflow-hidden">{{message.replyTo.text|linebreaks}}</p>
          </div>
        </div>
        {% endif %}
        <p class="px-2 ">{{message.text|linebreaks}}</p>
        <div class="flex justify-start items-center space-x-3">
            <small class="px-2">{{message.created|time}}</small>

            <button
            class="text-sm text-primary px-2"
            onclick="sendReply('{{message.id}}', '{{message.text|linebreaks}}', '{{message.sender.username}}')"
            >reply</button>
        </div>

      </div>
      </div>

      {% else %}



      <div class="w-full flex justify-end">
        <div
          class="max-w-[90%] min-w-[30%] break-words whitespace-normal border p-1 bg-primary rounded-l-3xl rounded-tr-3xl shadow-md"
          id="{{message.id}}"

        >
        {% if message.replyTo %}
          <div
          onclick="view('{{message.replyTo.id}}')">
            <div class="p-1 bg-blue-200 rounded-t-2xl rounded-b-lg w-full">
              <legend class="font-medium text-green-700 px-2">
                {% if message.replyTo.sender == request.user %}
                You
                {% else %}
                {{message.replyTo.sender.username|capfirst}}
                {% endif %}
              </legend>
              <p class="px-2 text-truncate overflow-hidden">{{message.replyTo.text|linebreaks}}</p>
            </div>
        </div>
          {% endif %}

            <p class="px-2">{{message.text|linebreaks}}</p>
          <div class="flex w-full justify-end items-center space-x-3 ">
            <button
                class="text-sm text-white px-2"
                onclick="sendReply('{{message.id}}', '{{message.text|linebreaks}}', '{{message.sender.username}}')"
                >
                reply
            </button>
            <small class="pl-2">{{message.created|time}}</small> <br>


          </div>

        </div>
      </div>

     <div id="end"></div>
      {% endif %} {% endfor %}
    </div>
    <div class="w-full fixed flex  bottom-0 left-0 justify-center p-2">

      <div
        class="w-full bg-slate-50 p-1 rounded-3xl items-start border-2 border-primary "
        onsubmit="send()"
      >


        <div class=" p-2 bg-slate-200 rounded-t-2xl rounded-b-lg w-full hidden relative break-words whitespace-normal" id="reply">


        </div>
        <div class="flex justify-between px-3 space-x-3 items-start">
            <textarea
            name="text"
            id="text"
            class="w-[95%] bg-slate-50 outline-none max-h-40 rounded-lg"
            rows="2"
            placeholder="Message"
            onchange="caps()"
          ></textarea>
          <label for="image">
            <i class="fa-solid fa-camera text-primary"></i>
          </label>
          <input
            type="file"
            id="image"
            accept="image/*"
            multiple
            class="hidden"
          />
          <label for="video" class="text-primary">
            <i class="fa-solid fa-video"></i>
          </label>
          <input
            class="hidden"
            type="file"
            name="video"
            id="video"
            accept="video/mp4,video/x-m4v,video/*"
          />


        </div>
    </div>
    <div class="">
        <button type="button" id="btn" onclick="send()" class="bg-slate-100 ml-2 rounded-full h-16 p-4 border-2 border-primary bottom-0">
        <i class="fa-regular fa-paper-plane text-primary"></i>

      </button>
    </div>

    </div>
    <!-- <script src="https://kit.fontawesome.com/bef6373e3c.js" crossorigin="anonymous"></script> -->

    <script>


      const nav = document.getElementById('nav').offsetHeight
      let id = Number("{{id}}");
      var reply = null
      var replytext = null
      var replyuser = null
      var clicked
      var section = document.getElementById('reply')

      function sendReply(replyid, replyText, replyUser) {
        reply = replyid
        replytext = replyText
        replyuser = replyUser
        if (replyuser === '{{me.username}}'){
            replyuser = 'You'
        }
        replyuser = replyuser[0].toUpperCase() + replyuser.slice(1);
        // replyuser = replyuser.charAt(0).toUpperCase()

        section.classList.remove('hidden')
         section.innerHTML = `
        <legend class="font-medium text-green-700">
            ${replyuser}
        </legend>
        <p class="">${replyText}</p>
        <button
        onclick="hide()"
        class="absolute right-0 top-0 px-3  py-1"
        ><i class="fa-solid fa-x text-slate-500"></i></button>
        `
      }

      function view(item){
        const element = document.getElementById(item)

        const height = element.getBoundingClientRect().top + window.pageYOffset
        window.scrollTo({
            top: height - nav - 30,
            behavior: "smooth",
        })

      }



      function hide(){
        section.classList.add('hidden')
        reply = null
        replytext = null
        replyuser = null
      }

      function longpress(){

        clicked = setTimeout(() => {
            alert('okay')
        }, 4000)

      }

      function leave(){
        clearTimeout(clicked)
      }

      function caps(){
        const word = document.getElementById('text')
        let text = word.value;
    let formattedText = text.split('\n').map(line => {
        return line.charAt(0).toUpperCase() + line.slice(1);
    }).join('\n');
    this.value = formattedText;
      }



      const btn = document.getElementById("btn");
      function send() {
        var message = document.getElementById("text").value
        if(message != ''){
        id = id + 1;
        console.log(id);
        var message = document.getElementById("text").value;
        socket.send(
          JSON.stringify({
            message: message,
            room_name: "{{room_name}}",
            sender: "{{request.user.id}}",
            receiver: "{{user.id}}",
            id: id,
            reply: reply,
            replytext: replytext,
            replyuser: replyuser,
          })
        );

        document.getElementById("text").value = ""
        section.innerHTML = ''
        section.classList.add('hidden')}
      }

      const websocketProtocol =
        window.location.protocol === "https:" ? "wss" : "ws";
      const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notifications/{{room_name}}/`;
      var socket = new WebSocket(wsEndpoint);

      socket.onopen = (e) => {
        console.log("websocket connection opened!");
      };

      socket.onclose = (e) => {
        console.log("websocket connection closed!");
        socket = new WebSocket(wsEndpoint);
      };

      socket.onerror = function (e) {
        console.error("WebSocket encountered an error:", e);
        alert("Error with WebSocket connection. Please try again.");
      };

      socket.addEventListener("message", (e) => {
        const data = JSON.parse(e.data)["message"];
        // console.log(data);
        // text = text.replace(/\n/g, "<br>")

        var sender = data["sender"];
        var text = data["message"];
        var receiver = data["receiver"];
        id = data["id"];
        var replymessage = data['replytext']
        var replysender = data['replyuser']
        var msgid = data['msgid']
        var replyidd = data['reply']
        var users = ("{{me.username}}")
        users = users[0].toUpperCase() + users.slice(1)
        console.log(`1sender: ${replysender}   user:${users}` )
        if(replysender === users){
            replysender = 'You'
        }
        console.log(`sender: ${replysender}   user:${users}` )

        text = text.replaceAll(/\n/g, "<br>")
        if(replymessage != null ){
        replymessage = replymessage.replaceAll(/\n/g, "<br>")
        }
        let date = new Date();
        let time = new Date()
        let hour = Number(date.getHours())
        let minute = Number(date.getMinutes())
        if (hour > 12) {
          hour -= 12
          if( minute > 9){
            time = `${hour}:${minute} p.m`
          }
          else {
            time = `${hour}:0${minute}p.m`
        } }
        else if (hour < 12){
          if( minute > 9){
            time = `${hour}:${minute} a.m`
          }
          else {
            time = `${hour}:0${minute}a.m`
          }
        }
        else {
          if (minute <= 9){
            time = `${hour}:0${minute} p.m`
          }
          else{
            time = `${hour}:${minute} p.m`
          }
        }

        var msg = document.getElementById("message-block");
        if (sender === "{{user.id}}") {
            if(replymessage === null) {
                msg.innerHTML += `
                    <div class="w-full">
      <div
        class="max-w-[90%] w-fit flex-wrap break-words whitespace-normal border p-1 bg-yellow-400 rounded-r-3xl rounded-tl-3xl shadow-md"
        id="${msgid}"

      >

        <p class="px-2">${text}</p>
        <div class="flex justify-start items-center space-x-3">
            <small class="px-2">${time}</small>

            <button
            class="text-sm text-primary px-2"
            onclick="sendReply(${msgid}, '${text}', '${'{{user.username}}'}')"
            >reply</button>
        </div>
      </div>
      </div>`
            }

            else {
                msg.innerHTML += `
                    <div class="w-full">
      <div
        class="max-w-[90%] w-fit flex-wrap border break-words whitespace-normal p-1 bg-yellow-400 rounded-r-3xl rounded-tl-3xl shadow-md"
        id="${msgid}"

      >

        <div
           onclick="view(${replyidd})">
          <div
            class="px-3 py-1 bg-yellow-200 rounded-t-2xl rounded-b-lg w-full"
          >
            <legend class="font-medium text-primary">
              ${replysender}
            </legend>
            <p class="px-2 text-truncate overflow-hidden">${replymessage}</p>
          </div>
        </div>
         <p class="px-2">${text}</p>
        <div class="flex justify-start items-center space-x-3">
            <small class="px-2">${time}</small>

            <button
            class="text-sm text-primary px-2"
            onclick="sendReply(${msgid}, '${text}', '${'{{user.username}}'}')"
            >reply</button>
        </div>
      </div>
      </div>`
            }
         ;
        } else {
            if(replymessage != null ){
                msg.innerHTML += `
                <div class="w-full flex justify-end">
        <div
          class="max-w-[90%] min-w-[30%] flex-wrap break-words whitespace-normal border p-1 bg-primary rounded-l-3xl rounded-tr-3xl shadow-md"
          id="${msgid}"

        >
          <div
           onclick="view(${replyidd})">
            <div class="p-1 bg-blue-200 rounded-t-2xl rounded-b-lg w-full">
              <legend class="font-medium text-green-700 px-2">
                 ${replysender}
              </legend>
              <p class="px-2 text-truncate overflow-hidden">${replymessage}</p>
            </div>
          </div>
            <p class="px-2">${text}</p>
          <div class="flex w-full justify-end items-center space-x-3 ">
            <button
                class="text-sm text-white px-2"
                onclick="sendReply(${msgid}, '${text}', '${'{{me.username}}'}')"
                >
                reply
            </button>
            <small class="pl-2">${time}</small>


          </div>

        </div>
      </div>
                `
            }
            else {
                msg.innerHTML += `
      <div class="w-full flex justify-end">
        <div
          class="max-w-[90%] min-w-[30%] break-words whitespace-normal flex-wrap border p-1 bg-primary rounded-l-3xl rounded-tr-3xl shadow-md"
          id="${msgid}"

        >
            <p class="px-2">${text}</p>

          <div class="flex w-full justify-end items-center space-x-3 ">
            <button
                class="text-sm text-white px-2"
                onclick="sendReply(${msgid}, '${text}', '${'{{me.username}}'}')"
                >
                reply
            </button>
            <small class="pl-2">${time}</small>


          </div>

        </div>
      </div>`
            }

        }

        window.scrollTo(0, document.body.scrollHeight - 30);
      });
    </script>
    <script
      src="https://kit.fontawesome.com/bef6373e3c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
