{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Page | UmEmployed</title>
    <link rel="icon" href="./build/logo/logo-color.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'build/css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'build/css/employer.css' %}" />
    
  </head>
  <body
    class="text-sm md:ml-[240px] md:mt-20 relative flex flex-col min-h-screen"
  >
    <header
      class="flex justify-between items-center md:border-b md:fixed z-10 top-0 right-0 left-0 px-2 md:px-5 py-2 mb-10 bg-white"
    >
      <div class="flex items-center gap-x-5">
        <div class="logo-wrap flex items-center">
          <img class="w-8 md:w-9" src="{% static 'build/logo/logo-color.png' %}" alt="" />
          <span class="text-[#1e90ff] hidden md:block md:text-xl font-bold"
            >UmEmployed</span
          >
        </div>
        <a
          class="hidden md:block hover:bg-blue-50 transition-colors p-2 rounded"
          href="{% url 'home' %}"
          >Home</a
        >
      </div>
      <nav class="flex md:gap-x-4 items-center">
        <ul class="flex gap-x-2 md:gap-x-6 items-center">
          <li>
            <a
              class="flex gap-1 hover:bg-blue-50 transition-colors p-2 rounded"
              href="#"
              ><img
                class="w-5"
                src="{% static 'build/img/message-square-lines-svgrepo-com.svg' %}"
                alt="message icon"
              />
              <span class="hidden md:block">Messages</span>
            </a>
          </li>
          <li>
            <a
              class="flex gap-1 hover:bg-blue-50 transition-colors p-2 rounded"
              href="#"
              ><img
                class="w-5"
                src="{% static 'build/img/notification-bell-svgrepo-com.svg' %}"
                alt="notification icon"
              />
              <span class="hidden md:block">Notifications</span>
            </a>
          </li>
        </ul>

        <div class="hidden md:block border-l h-[40px]"></div>

        <div class="relative">
          <div class="hover:bg-blue-50 transition-colors p-2 rounded">
            <button id="option-btn" class="flex items-center gap-2">
              <img
                class="w-[19px]"
                src="{% static 'build/img/profile-svgrepo-com.svg' %}"
                alt="user icon"
              />
              <span class="w-28 text-ellipsis overflow-hidden hidden md:block"
                >{{ user.username }}</span
              >
              <img
                class="w-[19px] mt-1 md:mt-0 hidden md:block"
                src="{% static 'build/img/dropdown-arrow-svgrepo-com.svg' %}"
                alt="drop down arrow"
              />
            </button>
            <div
              id="backdrop-menu"
              class="hidden fixed flex justify-end p-[18px] top-0 bottom-0 left-0 right-0 bg-transparent"
            >
              <div
                id="option-menu"
                class="absolute bg-white top-[60px] z-[100] min-w-[290px] sm:w-[350px] border border-gray-400 rounded"
              >
                <div
                  class="py-3 px-6 rounded-t text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/user.svg' %}"
                      alt="user-icon"
                    />
                    User
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-6"
                      src="{% static 'build/img/subscriptions-svgrepo-com.svg' %}"
                      alt="Subscriptions-icon"
                    />
                    Subscriptions
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/billing-svgrepo-com.svg' %}"
                      alt="Billing-icon"
                    />
                    Billing and invoices
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-al"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/setting-1-svgrepo-com.svg' %}"
                      alt="setting-icon"
                    />
                    Employer setting
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-all"
                >
                  <a href="#" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/contact-details-filled-svgrepo-com.svg' %}"
                      alt="msg-icon"
                    />
                    Contact us
                  </a>
                </div>
                
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-al"
                >
                  <a href="./company.html" class="flex items-center gap-1">
                    <img
                      class="w-6"
                      src="{% static 'build/img/company-svgrepo-com.svg' %}"
                      alt="company-icon"
                    />
                    Company page
                  </a>
                </div>

                <hr class="my-2" />
                <div class="user-mail py-3 px-6 font-bold text-gray-700">
                  {{ user.email }}
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-al"
                >
                  <a href="{% url 'update-resume' %}" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/setting-1-svgrepo-com.svg' %}"
                      alt="setting-icon"
                    />
                    Account Settings
                  </a>
                </div>
                <div
                  class="py-3 px-6 text-gray-700 hover:bg-gray-100 transition-al"
                >
                  <a href="{% url 'change_account_type' %}" class="flex items-center gap-1">
                    <img
                      class="w-5"
                      src="{% static 'build/img/user.svg' %}"
                      alt="user-icon"
                    />
                    Switch account Type
                  </a>
                </div>
                <hr class="my-2" />
                <div class="flex py-4 px-8 text-gray-700 justify-center">
                  <a href="{% url 'logout' %}" class="signout-btn text-[#1e90ff] font-bold">
                    Sign out
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id="aside-menu-btn" class="md:hidden">
          <img class="w-6" src="{% static 'build/img/menu-svgrepo-com.svg' %}" alt="" />
        </button>
      </nav>
      <div
        id="sidebar"
        class="font-bold fixed bg-[#8080803e] z-auto md:bg-none hidden top-0 bottom-0 left-0 right-0 p-10"
      >
        <div
          class="sidebar-content h-fit p-2 bg-white rounded-lg absolute bottom-2 right-2 left-2 mx-auto md:hidden"
        >
          <div class="btn-wrap text-end">
            <button id="remove-btn" class="text-2xl text-end ml-auto mr-2">
              &times;
            </button>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#">Message</a>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#"
              >Notifications</a
            >
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#"
              >Employer settings</a
            >
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#">Contact us</a>
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#"
              >Account Settings</a
            >
          </div>
          <div
            class="nav-item font-bold p-2 border-b hover:bg-blue-50 transition-colors"
          >
            <a class="flex justify-between items-center" href="#">Sign Out</a>
          </div>
        </div>
      </div>
    </header>
    <aside
      id="aside-menu"
      class="hidden md:block transition-all fixed top-0 z-10 md:z-0 left-0 md:left-5 bottom-0 md:bottom-10 h-screen right-0 md:right-auto max-w-[350px] md:w-fit md:top-[62px] md:rounded px-4 p-2 md:py-1 bg-gray-500"
    >
      <section class="mt-5">
        <div class="cancel-wrap text-end mb-4 md:hidden">
          <button id="cancel-aside-btn">
            <img
              class="w-6"
              src="{% static 'build/img/cancel-svgrepo-com (1).svg' %}"
              alt="cancel icon"
            />
          </button>
        </div>
        <div
          class="p-1 md:p-2 text-white md:text-black border-b border-t md:bg-white hover:bg-gray-300 rounded mb-4 cursor-pointer"
        >
          <a
            href="#"
            class="aside-item flex items-center justify-between w-full"
          >
            <div class="img-wrap flex items-center p-1 md:p-0">
              <img
                class="w-6"
                src="{% static 'build/img/plus-svgrepo-com.svg' %}"
                alt="plus icon"
              />
              <span>Create new</span>
            </div>
            <img
              class="w-6 ml-14"
              src="{% static 'build/img/dropdown-arrow-svgrepo-com.svg' %}"
              alt="dropdown icon"
            />
          </a>
        </div><div
          class="p-1 md:p-2 text-white md:text-black border-b border-t md:bg-white hover:bg-gray-300 rounded mb-4 cursor-pointer"
        >
          <a
            href="{% url 'update_company' company.id %}"
            class="aside-item flex items-center justify-between w-full"
          >
            <div class="img-wrap flex items-center p-1 md:p-0">
              <img
                class="w-6"
                src="{% static 'build/img/plus-svgrepo-com.svg' %}"
                alt="plus icon"
              />
              <span>Update</span>
            </div>
            <img
              class="w-6 ml-14"
              src="{% static 'build/img/dropdown-arrow-svgrepo-com.svg' %}"
              alt="dropdown icon"
            />
          </a>
        </div>
       
        <div>
          <a
            class="aside-item flex items-center gap-1 p-2 text-white rounded mb-4 md:bg-slate-700 transition-colors cursor-pointer active"
            href="{% url 'view_my_jobs' company.id %}"
          >
            <img
              class="w-6"
              src="{% static 'build/img/job-svgrepo-com.svg' %}"
              alt="briefcase icon"
            />
            <span>Jobs</span>
          </a>
        </div>
        <div>
          <a
            class="aside-item flex p-2 cursor-pointer text-white rounded mb-4 items-center gap-1 w-full md:bg-slate-700 transition-colors"
            href="{% url 'view_applications' company.id %}"
          >
            <img
              class="w-6"
              src="{% static 'build/img/users-svgrepo-com.svg' %}"
              alt="users icon"
            />
            <span>Candidates</span>
          </a>
        </div>
        <div>
          <a
            class="aside-item flex p-2 cursor-pointer text-white rounded mb-4 items-center w-full justify-between md:bg-slate-700 transition-colors"
            href="{% url 'view_applications' company.id %}"
          >
            <div class="img-wrap flex items-center gap-1">
              <img
                class="w-6"
                src="{% static 'build/img/date-svgrepo-com.svg' %}"
                alt="date icon"
              />
              <span>Interviews</span>
            </div>
            <img
              class="w-6 ml-14"
              src="{% static 'build/img/dropdown-arrow-svgrepo-com.svg' %}"
              alt="dropdown icon"
            />
          </a>
        </div>
        <div>
          <a
            class="aside-item flex p-2 cursor-pointer text-white rounded mb-4 items-center w-full justify-between md:bg-slate-700 transition-colors"
            href="{% url 'company-details' company.id %}"
          >
            <div class="img-wrap flex items-center gap-1">
              <img
                class="w-6"
                src="{% static 'build/img/analytics-svgrepo-com.svg' %}"
                alt="analytics icon"
              />
              <span>About</span>
            </div>
            <img
              class="w-6 ml-16"
              src="{% static 'build/img/dropdown-arrow-svgrepo-com.svg' %}"
              alt="dropdown icon"
            />
          </a>
        </div>
      </section>
    </aside>

    <main class="flex-grow w-full px-2 md:px-3 lg:w-[100%] mx-auto">
      <section class="flex font-bold justify-between mb-4 px-3 mx-auto w-full ">
        <div class="text-xl ">Jobs</div>
        <a href="{% url 'job:create-job' %}" class="px-5 py-2 bg-[#1e90ff] text-white rounded-lg"
          >Post Job</a
        >
      </section>
      <section class="md:bg-white px-3 py-3 md:py-0 md:shadow-xl  rounded-lg w-[100%] mx-auto">
        <div class="search-wrap">
          <form class="md:flex md:gap-1 lg:gap-5 w-full items-center" action="">
            <div class="input-wrap relative flex-1 mb-2 md:mb-0">
              <input
                type="text"
                class="w-full py-2 md:py-1 px-11 md:px-9 border border-gray-400 md:border-none rounded-lg outline-1 outline-[#1e90ff] md:outline-none overflow-hidden text-ellipsis"
                id="job-title"
                name="job-title"
                placeholder="Job Title ex(nurse, manager)"
              />
              <img
                class="w-5 absolute top-2 md:top-1 left-2 md:left-1"
                src="{% static './build/img/search-svgrepo-com.svg' %}"
                alt="search icon"
              />
            </div>
            <div class="hidden md:block border-l h-[40px] my-1"></div>
            <div class="location-wrap flex items-center flex-1 relative">
              <img
                class="w-5 absolute left-2 md:left-1 top-2 md:top-1"
                src="{% static './build//img/location-svgrepo-com.svg' %}"
                alt="location icon"
              />
              <input
                class="w-full py-2 md:py-1 px-11 md:px-9 outline-1 outline-[#1e90ff] md:outline-none border border-gray-400 md:border-none rounded-lg overflow-hidden text-ellipsis"
                type="text"
                name="location"
                id="location"
                placeholder="Type to search"
              />
              <img
                class="w-6 absolute right-6 md:hidden lg:block"
                src="{% static './build/img/dropdown-arrow-svgrepo-com.svg' %}"
                alt="dropdown icon"
              />
            </div>
            <div class="hidden md:block border-l h-[40px] my-1"></div>
            <div
              class="btn-wrap md:flex items-center md:gap-4 lg:gap-24  md:pb-0"
            >
              <select
                class="px-3 py-1.5 md:py-0 outline-1 outline-[#1e90ff] border border-gray-400 md:border-none rounded-lg mb-4 mt-4 w-24"
                name="filter"
                id="filter"
              >
                <option value="" disabled selected>Sort by</option>
                <option value="">Posting date</option>
                <option value="">Job title</option>
                <option value="">Job status</option>
              </select>
              <button
                class="text-white px-2 md:px-1 lg:px-4 py-2 md:py-1 bg-[#1e90ff] rounded-lg font-bold w-full"
              >
                Search
              </button>
            </div>
          </form>
        </div>
      </section>
      <br>
      {% if jobs|length == 0 %}
        <div class="text-center text-gray-600">No Jobs Created,
          <a style="text-decoration: underline; color: blue;" href="{% url 'job:create-job' %}">Create Job</a>
        </div>
      {% endif %}
      {% for job in jobs %}
      <section class="job-sec bg-gray-100 mt-5 w-full md:border rounded-lg">
        <!-- Job 1 -->
        <div class="job-section flex flex-wrap lg:grid bg-white p-3 border md:border-none ">
            <input class="lg:w-full lg:w-auto mr-4 lg:mr-0 mb-10 lg:mb-0" type="checkbox" id="job1" name="job1" />
            <div class="job-title-wrapper mb-2 lg:mb-0 lg:text-left lg:w-auto">
                <h2 class="job-title font-bold">{{job.title}}</h2>
                <p class="job-location text-gray-500">{{job.location}}</p>
                <div class="date-wrap text-gray-500">
                    Created: <span class="date">June 4, 2024</span>
                </div>
            </div>
            <div  class="candidate-wrap w-full lg:w-fit  lg:text-left lg:w-auto flex-grow lg:flex-grow-0">
                <p class="candidate-status text-[#1e90ff] font-bold">
                    <span class="candidate-active">3</span> Active Candidates
                </p>
                <div class="candidates-stats-wrap flex lg:justify-center gap-3 mt-2 lg:mt-0">
                    <p class="awaiting-candidates">0 Awaiting</p>
                    <p class="reviewed-candidates">1 Reviewed</p>
                    <p class="contacted-candidates">2 Contacting</p>
                    <p class="hired-candidates">0 Hired</p>
                </div>
            </div>
            <div class="sponsorship-status lg:text-center lg:text-left lg:w-auto my-2 lg:my-0">
                <h2 class="font-bold">Sponsored</h2>
                <p class="text-gray-500">63.00 (USD) Total Cost | 21.00 USD Daily</p>
            </div>
            <div class="job-status  w-full lg:w-fit lg:text-center lg:text-left lg:w-auto my-2 lg:my-0">
                <select class="text-[#1e90ff] border outline-1 outline-[#1e90ff] font-bold rounded-full p-1" name="job-status1" id="job-status1">
                    <option value="open">Open</option>
                    <option value="closed">Closed</option>
                    <option value="paused">Paused</option>
                </select>
            </div>
            <div class="actions text-center lg:text-left lg:w-auto">
                <select class="font-bold rounded-full p-1 border" name="actions1" id="actions1">
                    <option value="open" selected>Actions</option>
                </select>
            </div>
        </div>
        <hr class="my-5 sm:my-0">
        {% endfor %}
        
        </div>

    </section>
    <hr class="w-full my-5" />
      <section class="p-5 border rounded-lg bg-white">
        <h3 class="font-bold">Manage billing details</h3>
        <hr class="mt-2 my-5" />
        <div class="flex flex-col gap-2">
          <a href="#" class="text-[#1e90ff] font-bold block"
            >View Billing History</a
          >
          <a href="#" class="text-[#1e90ff] font-bold block"
            >Update Payment Method</a
          >
        </div>
      </section>
    </main>
    <footer class="text-center pb-2 text-gray-500 my-5">
      &copy;2024 <span class="text-[#1e90ff] font-bold">UmEmployed</span> -
      <span class="underline"
        ><a href="#">Cookies</a>, <a href="#">Privacy</a>, and
        <a href="#">Terms</a></span
      >
    </footer>
    <script type="module" src="{% static './scripts/addjob.js' %}"></script>
    <script src="{% static './scripts/dashboard.js' %}"></script>
  </body>
</html>
