<!DOCTYPE html>
<meta charset="UTF-8">
<title>See You Soon at UmEmployed, {{ user }}!</title>
</head>
<body>
    <p>Dear {{ user }},</p>
    <p>We hope you found your time on UmEmployed productive. While we're sorry to see you go, we understand that everyone takes breaks.</p>
    <p>If you're still on the job hunt, remember that UmEmployed is your one-stop shop for finding exciting opportunities! We offer a vast selection of jobs, real-time application insights, and dedicated support to help you land your dream role.</p>
    <p>Here's how to stay connected and continue your job search journey:</p>
    <ul>
        <li><a href="[https://umemployed-app-2679a22d36dd.herokuapp.com/dashboard]">Return to your dashboard</a> to view saved jobs and applications.</li>
        <li>Never miss a perfect fit! Set up job alerts to receive notifications for positions matching your criteria.</li>
    </ul>
    <p>We're always here for you at UmEmployed. When you're ready to pick up your job search again, we'll be waiting with open arms (and exciting opportunities!).</p>
    <p>Best regards,</p>
    <p>The UmEmployed Team</p>
</body>
</html>