<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Application Status Update</title>
</head>
<body>
    <p>Dear {{ username }},</p>
    <p>
        Thank you for applying for the position "<strong>{{ job_title }}</strong>" at <strong>{{ company_name }}</strong>.<br>
        At this time, you are no longer among the top 10 candidates. We appreciate your interest and encourage you to apply for other opportunities.
    </p>
    <p>Best wishes,<br>Umemployed Team</p>
</body>
</html>
