<!DOCTYPE html>
<meta charset="UTF-8">
<title>Welcome to UmEmployed!</title>
</head>
<body>
    <p>Dear {{ user }},</p>
    <p>Welcome to UmEmployed, the job board that transforms the way you connect with career opportunities!</p>
    <p>{{ message }}</p>
    <p>We're more than just a job search engine. UmEmployed is a platform designed to kick-start and nurture your career. We provide real-time, accurate application responses, empowering you to land your dream job.</p>
    <p>To get started, explore the vast selection of jobs on our platform and leverage our innovative features to optimize your applications.</p>
    <p>If you have any questions, please don't hesitate to contact our support team at [support@umemployed.com] or visit our help center at [faq.umemployed.com].</p>
    <p>Thank you for choosing UmEmployed! We're here to help you achieve your career goals.</p>
    <p>Sincerely,</p>
    <p>The UmEmployed Team</p>
</body>
</html>
