<!DOCTYPE html>
<meta charset="UTF-8">
<title>Welcome Back, We missed You {{ user }}!</title>
</head>
<body>
    <p>Dear {{ user }},</p>
    <p>Welcome back to UmEmployed! We're glad to have you back on the platform.</p>
    <p>Whether you're actively seeking a new opportunity or just staying updated on the job market, UmEmployed is here to support you.</p>
    <p>Here are some quick ways to get back on track:</p>
    <ul>
        <li><a href="https://umemployed-app-2679a22d36dd.herokuapp.com/dashboard">Access your dashboard</a> to view saved jobs, applications, and update your profile.</li>
        <li>Browse our extensive list of current job openings by clicking <a href="[https://umemployed-app-2679a22d36dd.herokuapp.com/jobs]">here</a>.</li>
    </ul>
    <p>If you need any assistance, don't hesitate to contact our support team at [support email address] or visit our help center at [faq.umeployed.com].</p>
    <p>Happy job hunting!</p>
    <p>Sincerely,</p>
    <p>The UmEmployed Team</p>
</body>
</html>
