{% extends 'resume/base.html' %}
{% load static %}
{% block content %}
  <main class="mx-auto w-[90%] max-w-[650px]">
    <section class="user-profile mx-auto border p-5 rounded-lg">
      <div class="profile-header mb-10 flex justify-between items-center">
        <img class="w-24" src="{% static 'build/img/pp.jpg' %}" alt="profile-pic" />
        <p class="font-bold text-2xl name mr-4">
          <span class="firstName">{{ contact_info.name }}</span>
        </p>
      </div>
      <div class="profile-body flex justify-between items-center">
        <div class="profile-info text-gray-600 font-bold">
          <div class="email">{{ contact_info.email }}</div>
          <div class="phone">{{ contact_info.phone }}</div>
          <div class="country">{{ contact_info.country }}</div>
          <div class="job-title">{{ contact_info.job_title }}</div>
        </div>
        <a href="{% url 'update-resume' %}" class="text-[#1e90ff] border border-[#1e90ff] px-2 py-1 mr-4 rounded-full">Edit profile</a>
      </div>
    </section>

    <section class="cv-wrap mx-auto border p-5 rounded-lg my-10 relative">
      <div class="flex justify-between items-center">
        <div class="flex gap-4 items-center">
          <div class="file-image-wrap">
            <svg width="44" height="64" viewBox="0 0 44 64" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="dd-privacy-allow">
              <path d="M26 1.09384C26 0.489727 26.4897 0 27.0938 0C27.674 0 28.2305 0.230486 28.6408 0.640755L43.3592 15.3592C43.7695 15.7695 44 16.326 44 16.9062C44 17.5103 43.5103 18 42.9062 18H28C26.8954 18 26 17.1046 26 16L26 1.09384Z" fill="#D4D2D0"></path>
              <path d="M0 2C0 0.895431 0.895431 0 2 0H27C28.1046 0 29 0.895431 29 2V13C29 14.1046 29.8954 15 31 15H42C43.1046 15 44 15.8954 44 17V62C44 63.1046 43.1046 64 42 64H2C0.895431 64 0 63.1046 0 62V2Z" fill="#E4E2E0"></path>
              <path d="M6 7C6 6.44772 6.44772 6 7 6H21C21.5523 6 22 6.44772 22 7C22 7.55228 21.5523 8 21 8H7C6.44772 8 6 7.55228 6 7Z" fill="#D4D2D0"></path>
              <path d="M6 11C6 10.4477 6.44772 10 7 10H21C21.5523 10 22 10.4477 22 11C22 11.5523 21.5523 12 21 12H7C6.44772 12 6 11.5523 6 11Z" fill="#D4D2D0"></path>
              <path d="M6 15C6 14.4477 6.44772 14 7 14H21C21.5523 14 22 14.4477 22 15C22 15.5523 21.5523 16 21 16H7C6.44772 16 6 15.5523 6 15Z" fill="#D4D2D0"></path>
              <path d="M6 21C6 20.4477 6.44772 20 7 20H37C37.5523 20 38 20.4477 38 21C38 21.5523 37.5523 22 37 22H7C6.44772 22 6 21.5523 6 21Z" fill="#D4D2D0"></path>
              <path d="M6 25C6 24.4477 6.44772 24 7 24H37C37.5523 24 38 24.4477 38 25C38 25.5523 37.5523 26 37 26H7C6.44772 26 6 25.5523 6 25Z" fill="#D4D2D0"></path>
              <path d="M6 29C6 28.4477 6.44772 28 7 28H37C37.5523 28 38 28.4477 38 29C38 29.5523 37.5523 30 37 30H7C6.44772 30 6 29.5523 6 29Z" fill="#D4D2D0"></path>
              <path d="M6 33C6 32.4477 6.44772 32 7 32H37C37.5523 32 38 32.4477 38 33C38 33.5523 37.5523 34 37 34H7C6.44772 34 6 33.5523 6 33Z" fill="#D4D2D0"></path>
              <path d="M0 44H44V62C44 63.1046 43.1046 64 42 64H2C0.895431 64 0 63.1046 0 62V44Z" fill="#2557a7"></path>
              <text aria-hidden="true" class="css-jhzhrd e1wnkr790">
                <tspan x="10" y="58">PDF</tspan>
              </text>
            </svg>
          </div>
          <div>
            <div class="cv-title font-bold text-xl">My Cv.pdf</div>
            <div class="day text-gray-500">Added today</div>
          </div>
        </div>
        <div class="">
          <button id="option-btn" class="text-3xl font-bold"><img class="w-6" src="{% static 'build/img/hamburger-menu-dots-svgrepo-com.svg' %}" alt="menu dots" /></button>
          <div class="absolute option-wrap gap-2 bg-white top-16 right-[20px] border rounded-lg">
            <div id="options" hidden class="w-[130px]">
              <div class="option mb-4 hover:bg-blue-50 flex gap-3 w-full p-2 rounded-lg">
                <img class="w-6" src="{% static 'build/img/download-svgrepo-com.svg' %}" alt="download icon" />
                <p class="text-gray-500">Download</p>
              </div>
              <div class="option mb-4 hover:bg-blue-50 flex gap-3 w-full p-2 rounded-lg">
                <img class="w-6" src="{% static 'build/img/eye-view-svgrepo-com.svg' %}" alt="view icon" />
                <p class="text-gray-500">View</p>
              </div>
              <div class="option mb-4 hover:bg-blue-50 flex gap-3 w-full p-2 rounded-lg">
                <img class="w-6" src="{% static 'build/img/edit-svgrepo-com.svg' %}" alt="edit icon" />
                <p class="text-gray-500">Edit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="job-sec" class="mb-10 border rounded-lg">
      <div class="">
        <div class="border border-white bg-white rounded-lg">
          <div class="flex justify-between items-center border-b p-4 mb-4">
            <p class="font-bold text-xl text-[#1e90ff]">Select Job</p>
          </div>
          <div class="w-full p-4 mb-4">
            <label for="job">Job</label><br />
            <input class="border w-full mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" type="text" id="job" placeholder="skill (ex: Career Counselor)" />
          </div>
          <div class="p-4 border rounded-lg mb-4 mx-4 bg-blue-50">
            <select name="job" id="job" class="bg-transparent w-full outline-none">
              <option value="" selected disabled>Selcted a job</option>
              <option value="frontend">Frontend Developer</option>
              <option value="es">Employement Specialist</option>
              <option value="cs">Career Counselor</option>
              <option value="mad">Mobile App Developer</option>
              <option value="deve">Devops Engineer</option>
              <option value="ds">Data Scientist</option>
              <option value="acc">Accountant</option>
            </select>
          </div>
          <div class="p-4 flex justify-between border-t">
            <div></div>
            <button id="save-job-btn" class="border bg-[#1e90ff] rounded-full text-white font-bold px-3 py-1">Save</button>
          </div>
        </div>
      </div>
    </section>

    <section id="skills-sec" class="mb-10">
      <div class="flex justify-between items-center mb-2 p-4">
        <h2 class="font-bold text-xl text-[#1e90ff]">Skills</h2>
        <button class="w-6" id="add-skill-btn"><img src="{% static 'build/img/plus-svgrepo-com.svg' %}" alt="plus icon" /></button>
      </div>
      <div id="skill-modal" class="hidden absolute top-0 bottom-0 left-0 right-0 justify-center items-center mx-auto">
        <div id="backdrop" class="bg-[#80808021] absolute top-0 bottom-0 left-0 right-0 -z-0"></div>
        <div class="border border-white bg-white rounded-lg absolute top-1/2 w-11/12 md:w-3/4 lg:w-[48%]">
          <div class="flex justify-between items-center border-b p-4 mb-4">
            <p class="font-bold">Add skill</p>
            <button id="skill-modal-btn" class="text-2xl">&times;</button>
          </div>
          <div class="w-full p-4 mb-4">
            <label for="input-skill">skill</label><br />
            <input class="border w-full mx-auto rounded p-1 focus:outline outline-1 outline-[#1e90ff]" type="text" id="input-skill" placeholder="skill (ex: Reactjs)" />
            <div id="feedback-message" class="feedback-msg italic text-red-500 hidden">Skill already exists</div>
          </div>

          <div class="p-4 border rounded-lg mb-4 mx-4 bg-white">
            <p class="mb-3 font-bold">Suggested skills</p>
            <ul id="suggested-skills" class="suggested-skills gap-x-2">
              {% for suggested_skill in suggested_skills %}
                <li>
                  <input type="checkbox" id="skill-{{ suggested_skill.id }}" data-id="{{ suggested_skill.id }}" value="{{ suggested_skill.name }}" />
                  <label for="skill-{{ suggested_skill.id }}">{{ suggested_skill.name }}</label>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="p-4 flex justify-between border-t">
            <div></div>
            <button id="save-skill-btn" class="border bg-[#1e90ff] rounded-full text-white font-bold px-3 py-1">Save</button>
          </div>
        </div>
      </div>
      <div id="skill-wrap">
        {% for skill in skills %}
          <div class="skill border p-5 mb-2 rounded-lg font-bold flex justify-between items-center">
            <p class="type">{{ skill.name }}</p>
            <div class="btn-wraps flex gap-4">
              <button class="w-5" id="edit-skill-btn"><img src="{% static 'build/img/edit-svgrepo-com.svg' %}" alt="edit icon" /></button>
              <button class="w-6" id="delete-skill-btn"><img src="{% static 'build/img/delete-2-svgrepo-com.svg' %}" alt="delete icon" /></button>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="lang-sec mb-10">
      <div class="flex justify-between items-center mb-2 p-4">
        <h2 class="font-bold text-xl text-[#1e90ff]">Languages</h2>
        <button class="w-6" id="add-lang-btn"><img src="{% static 'build/img/plus-svgrepo-com.svg' %}" alt="plus icon" /></button>
      </div>
      {% for language in languages %}
        <div class="language border p-5 mb-2 rounded-lg font-bold flex justify-between items-center">
          <p class="type">{{ language.name }}</p>
          <div class="btn-wraps flex gap-4">
            <button class="w-5" id="edit-lang-btn"><img src="{% static 'build/img/edit-svgrepo-com.svg' %}" alt="edit icon" /></button>
            <button class="w-6" id="delete-lang-btn"><img src="{% static 'build/img/delete-2-svgrepo-com.svg' %}" alt="delete icon" /></button>
          </div>
        </div>
      {% endfor %}
    </section>
    <section id="experience-sec" class="mb-10">
      <div class="flex justify-between items-center mb-2 p-4">
        <h2 class="font-bold text-xl text-[#1e90ff]">Experience</h2>
        <button class="w-6" id="add-experience-btn"><img src="{% static 'build/img/plus-svgrepo-com.svg' %}" alt="plus icon" /></button>
      </div>
      <div id="experience-wrap">
        {% for experience in experiences %}
          <div class="experience border p-5 mb-2 rounded-lg font-bold">
            <p class="company-name">{{ experience.company_name }}</p>
            <p class="role">{{ experience.role }}</p>
            <p class="dates">
              {{ experience.start_date|date:'M Y' }} -{% if experience.end_date %}
                {{ experience.end_date|date:'M Y' }}
              {% else %}
                Present
              {% endif %}
            </p>
            <div class="btn-wraps flex gap-4">
              <button class="w-5" id="edit-experience-btn"><img src="{% static 'build/img/edit-svgrepo-com.svg' %}" alt="edit icon" /></button>
              <button class="w-6" id="delete-experience-btn"><img src="{% static 'build/img/delete-2-svgrepo-com.svg' %}" alt="delete icon" /></button>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>

    <section id="education-sec" class="mb-10">
      <div class="flex justify-between items-center mb-2 p-4">
        <h2 class="font-bold text-xl text-[#1e90ff]">Education</h2>
        <button class="w-6" id="add-education-btn"><img src="{% static 'build/img/plus-svgrepo-com.svg' %}" alt="plus icon" /></button>
      </div>
      <div id="education-wrap">
        {% for education in educations %}
          <div class="education border p-5 mb-2 rounded-lg font-bold">
            <p class="institution-name">{{ education.institution_name }}</p>
            <p class="degree">{{ education.degree }}</p>
            <p class="dates">{{ education.graduation_year }}</p>
            <div class="btn-wraps flex gap-4">
              <button class="w-5" id="edit-education-btn"><img src="{% static 'build/img/edit-svgrepo-com.svg' %}" alt="edit icon" /></button>
              <button class="w-6" id="delete-education-btn"><img src="{% static 'build/img/delete-2-svgrepo-com.svg' %}" alt="delete icon" /></button>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
  <script>
    const csrfToken = '{{ csrf_token }}'
  </script>
  <script type="text/javascript">
    const suggestedSkills = JSON.parse('{{ suggested_skills_json|escapejs }}')
    const skills = JSON.parse('{{ skills_json|escapejs }}'); 
  </script>
  <script type="module" src="{% static 'scripts/Profile.js' %}"></script>
  <script type="module" src="{% static 'data/user.js' %}"></script>
{% endblock %}
