{% extends 'resume/base.html' %}
{% block custom_css %}
  {% load static %}
  {% comment %} <link rel="stylesheet" href="{% static 'myapp/custom.css' %}"> {% endcomment %}
{% endblock %}
{% block content %}

     <main class="bg-white shadow-md rounded-lg p-8 w-[95%] md:w-[50%] max-w-md mx-auto mt-28">
      {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
        <h1 class="text-2xl text-gray-800 font-bold text-center mb-6">Switch Account Type</h1>
        <center><p>{{user.username}}</p><center>
        <div class="text-center mb-4">
          {% if request.user.is_applicant %}
            <button id="toggleAccountButton" class="bg-[#1e90ff] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">
                <a href="{% url 'switch_account_type' %}">Switch to Employer Account</a>
            </button>
            {% elif request.user.is_recruiter %}
            <button id="toggleAccountButton" class="bg-[#1e90ff] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">
                <a href="{% url 'switch_account_type' %}">Switch to Job Seeker Account</a>
            </button>
            {% else %}
            <button id="toggleAccountButton" class="bg-[#1e90ff] hover:bg-blue-500 text-white font-bold py-2 px-4 rounded">
                <a href="{% url 'login' %}">Not Allowed, Please Signup</a>
            </button>
            {% endif %}
        </div>
        <div id="accountTypeMessage" class="text-center text-gray-700">
            You are currently logged in as a Job Seeker.
        </div>
    </main>

   
    <script type="module" src="{% static 'scripts/switchaccount.js' %}"></script>
  </body>
</html>
{% endblock %}